<div class="container pt-10">
    <div class="row bg-dark"> 
        <div class="row">
            <div class="col-lg-6 md-4 sm-2 pt-2 text-white fw-900">
                <i class="fas fa-university"></i><strong> Bank</strong>
            </div>
            <div class="col-lg-6 md-4 sm-2">
                <div class="nav navbar-nav">
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-bell ml-2"></i>
                            <i class="fas fa-envelope ml-2 mr-2" ></i>
                            Anandharaj</a>
                    </li>
                </div>
            </div>
         </div>
         <div class="row" id="buttons">
            <div class="col-lg-3 col-sm-6 col-md-5 text-center text-white">
                <strong>Current Account</strong><br>
                <h2>$10000.00</h2>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-5 text-center">
                <button class="btn btn-primary">Make a Payment</button>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-5 text-center">
                <button class="btn btn-light">Requisites</button>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-5 text-center">
                <button class="btn btn-light"><span style="color:red">● </span>3 tasks in the amount of $910 </button>
            </div>
         </div>
         </div>
