.container {
    /* background-image: url('src/assets/cut.jpg'); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(8,23,130,1) 0%, rgba(7,44,144,1) 0%, rgba(0,212,255,1) 100%);
  }

.navbar{
    padding-bottom: 40px;
    height:100px;
}


#buttons{
    align-items:center;
}
label{
    font-size: large;
}

