<div class="container desktop1">
    <nav class="navbar text-white">
        <i class="fas fa-university"> </i>
         <a class="navbar-brand text-white pl-2">{{ title }}</a>
        <span class="space"></span>
        <div class="dropdown pmd-dropdown pmd-user-info ml-auto text-white" style="font-size: 14px; padding-top: 4px;">
            <a class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true"
                aria-expanded="false">
                <div class="media-body navbar-brand">
                    <a class="navbar-brand text-white" id="icon"> 
                        <i class="fas fa-envelope"></i></a>
                    <a class="navbar-brand text-white" id="icon">
                        <i class="fas fa-bell" aria-hidden="true"></i>
                    </a>
                    {{ name }}
                </div>
            </a>
        </div>
    </nav>
    <div class="row" id="buttons">
        <div class="col-lg-3 col-sm-6 col-md-5 text-center text-white">
            <strong style="font-size:20px;">Current Account</strong><br>
            <div class="text-white pb-2" style="font-size:40px;">$ 270
                651<span style="font-size:15px;">.00</span></div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-5 text-center">
            <button class="btn btn-primary">Make a Payment</button>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-5 text-center">
            <button class="btn btn-light">Requisites</button>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-5 text-center">
            <button class="btn btn-light"><span style="color:red">● </span>3 tasks in the amount of $910 </button>
        </div>
     </div>

</div>

<div class="container mobile1">
    <nav class="navbar text-white">
        <i class="fas fa-university"> </i>
        <a class="navbar-brand text-white pl-2 mt-0">{{ title }}</a>
        <span class="space"></span>
        <div class="ml-auto text-white" style="font-size: 14px; padding-top: 4px;">
                <div class="media-body navbar-brand">
                    <a class="navbar-brand text-white" id="icon">
                        <i class="fas fa-envelope"></i></a>
                    <a class="navbar-brand text-white" id="icon">
                        <i class="fas fa-bell" aria-hidden="true"></i>
                    </a>
                    <a class="navbar-brand text-white" id="icon">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-12 text-white ml-5" style="float:left;">
            <strong style="font-size:20px; ">Current Account</strong><br>
            <div class="text-white pb-2" style="font-size:40px; ">$ 270
                651<span style="font-size:15px;  ">.00</span></div>
        </div>
    </div>
    <div class="row pb-2" id="buttons">
        <div class="col-sm-6 text-center">
            <button class="btn btn-primary">Make a Payment</button>
        </div>
        <div class=" col-sm-6 text-center">
            <button class="btn btn-light">Requisites</button>
        </div>
    </div>
</div>
