#week {
  height: 100%;
  background: lightgray;
  display: flex;
  justify-content: left !important;
}
#week{
  padding-top: 10px;
}
.analytics{
  padding-top: 10px;
}

.search {
  position: relative;
  justify-content:right;
  text-align: right;
  width:250px;
  height: 25px;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 25px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.fa-search {
  position: absolute;
  top: 5px;
  left: 16px;
  padding-right: 16px;
  height: 23px;
}

.all{
  background-color: #f5f5f5;
  margin:2em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-bottom: 20px; 
  padding: 20px 25px 20px 25px;
}

#today{
  padding-top: 10px; 
  font-size: 18px;
}

#details{
  width:1100px;
  height: 80px;
  background: lightgray;
  position: relative;
  border-radius: 10px;
  margin-top:10px;
}

.btn-outline-success{
  border: none;
  background: darkgray;
  }
  .btn-outline-danger{
      border: none;
      background: darkgray;
      }
  
  .nav-link{
      color:black;
  }
  .rounded-circle{
    background-color: red;
    width: 15px;
    text-align: center;
  }


  @media only screen and (max-width: 600px) {
    div#outcome {
      margin-left: 20px;
    }
  }

  @media only screen and (min-width: 959px) {
    .desktop {
    display: block;
    }
    .mobile {
    display: none;
    }
   } 
   @media only screen and (max-width: 600px) {
    .desktop {
    display: none;
    }
    .mobile {
    display: block;
    border-top: 1px solid white;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(8,23,130,1) 0%, rgba(7,44,144,1) 0%, rgba(0,212,255,1) 100%);
  }
   }

   @media only screen and (min-width: 959px) {
    .desktop1 .desktop2{
    display: block;
    }
    .mobile1 {
    display: none;
    }
   } 
   @media only screen and (max-width: 600px) {
    .desktop1 {
    display: none;
    }
    .mobile1 {
    display: block;
    height: 100%;
    padding-left: 0;
    margin-left: 2;

  }
   }

   @media only screen and (min-width: 959px) {
    .desktop2{
    display: block;
    }
    .mobile2 {
    display: none;
    }
   } 
   @media only screen and (max-width: 600px) {
    .desktop2 {
    display: none;
    }
    .mobile2 {
    display: block;
    height: 100%;
    padding-left: 0;
    margin-left: 2;

  }
   }