<!-- payment last week -->
<div class="container desktop">
    <div class="row" id="week">
        <div class="col-lg-6 col-sm-6 text-left pt-2" id="week">
            <div class="nav navbar-expand-lg fw-800">
                <li class="nav-item dropdown ">
                    <h4>
                        <a class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown">Payments
                            <span style="color: blue;">Last week</span></a>
                    </h4>
                </li>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 d-sm-block" id="week">
            <strong>Income</strong><br>
            <label class="text-success font-weight-bold">$ 255 007</label>
        </div>
        <div class="col-lg-2 col-sm-6 ml-20 d-sm-block" id="week">
            <strong>Outcome</strong><br>
            <label class="text-danger font-weight-bold">$ 5 359</label>
        </div>
        <div class="col-lg-2 col-sm-4 d-sm-block" id="analytics" style="padding-top: 5px;">
            <div class="nav navbar-nav">
                <li class="nav-item dropdown ">
                    <a href="#" class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown">
                        Analytics</a>
                </li>
            </div>
        </div>
    </div>
</div>

<div class="container mobile">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5" style="float: center;">
            <strong style="font-size: 25px;">Tasks </strong>
            <label class="text-success rounded-circle text-white font-weight-bold"> 3</label>
        </div>
        <div class="col-sm-5 float-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bar-chart mt-0" viewBox="0 3 16 16">
                <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
              </svg>
            <strong class="analytics m-t-3" style="font-size: 25px;"> Analytics</strong>
        </div>
        </div>
        </div>

<!-- all income outcome -->
<div class="container desktop1" id="all">
    <div class="row">
        <div class="col-md-1 col-sm-1 pt-2" style="float:left; font-size: 13px;">
            <span>All 125</span>
        </div>
        <div class="col-md-1 col-sm-1 pt-2 pl-1" style="float:left;font-size: 13px;">
            <span style="color:green">●</span>Income 120
        </div>
        <div class="col-md-1 col-sm-1 pt-2 pl-1" style="float:left;font-size: 13px;">
            <span style="color:red">●</span>Outcome 70
        </div>
        <div class="col-md-2 col-sm-2 pt-2 pl-1" style="float:left;font-size: 13px;">
            <span style="color:green">●</span>For Signature 1
        </div>

        <div class="col-md-4 col-sm-1"></div>
        <div class="col-md-3 col-sm-2 pt-2" style="float:right">
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="pl-2 form-control" placeholder="Search">
            </div>
        </div>
    </div>
</div>

<!-- Mobile -->

<div class="container mobile1">
    <div class="row">
        <div class="col-sm-8 pt-2">
            <div class="nav navbar-expand-lg fw-800">
                <li class="nav-item dropdown ">
                    <h4>
                        <a class="nav-link link-light dropdown-toggle" style="font-size: 30px;" data-bs-toggle="dropdown">Payments
                            <span style="color: blue;">Last week</span></a>
                    </h4>
                </li>
            </div>
        </div>
        <div class="col-sm-4 pt-3 text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-filter" viewBox="0 1 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
              </svg>
            <strong class="filter" style="font-size: 25px;"> Filter</strong>
        </div>
        </div>
        </div>




<!-- Today -->
<div class="container" id="today">
    <span>Today,{{ today }}</span>
</div>

<!-- Details -->
<div class="container-fluild desktop2">
    <div class="container" *ngFor="let Payments of payments" id="details">
        <div class="row">
            <div class="col-lg-6 col-sm-6 pt-2">
                <span style="font-size :18px; font-weight: bold;">{{ Payments.Data }}</span>
                <span class="d-none d-sm-block text-muted"> {{ Payments.Description }}</span>
            </div>
            <div class="col-lg-2 col-sm-3 pt-3 text-center" *ngIf="Payments.Amount &lt; 0">
                <span class="text-danger font-weight-bold">$ {{ Payments.Amount }}</span>
            </div>
            <div class="col-lg-2 col-sm-3 pt-3 text-center" *ngIf="Payments.Amount &gt; 0">
                <span class="text-success font-weight-bold" >$ {{ Payments.Amount }}</span>
            </div>
            <div class="col-lg-2 col-sm-3 pt-3 text-center" *ngIf="Payments.Category=='Sign'">
                <button type="button" class="btn btn-md btn-success">{{ Payments.Category }}</button>
            </div>
            <div class="col-lg-2 col-sm-3 pt-3 text-center" *ngIf="Payments.Category=='Income'">
                <button type="button" class="btn btn-md btn-outline-success">{{ Payments.Category }}</button>
            </div>
            <div class="col-lg-2 col-sm-3 pt-3 text-center" *ngIf="Payments.Category=='Outcome'">
                <button type="button" class="btn btn-md btn-outline-danger">Outcome</button>
            </div>
            <div class="col-lg-2 col-sm-2 pt-2">
                <div class="nav navbar-nav">
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown">
                            More</a>
                    </li>
                </div> 
            </div>
        </div>
</div>
</div>

<div class="container-fluild mobile2">
    <div class="container" *ngFor="let Payments of payments" id="details">
        <div class="row">
            <div class="col-sm-6 pt-2">
                <span style="font-size :18px; font-weight: bold;">{{ Payments.Data }}</span>
                <div *ngIf="Payments.Amount &lt; 0">
                    <span class="text-danger font-weight-bold">$ {{ Payments.Amount }}</span>
                </div>
                <div *ngIf="Payments.Amount &gt; 0">
                    <span class="text-success font-weight-bold" >$ {{ Payments.Amount }}</span>
                </div>
            </div>
            
            <div class="col-sm-3 pt-3 text-center" *ngIf="Payments.Category=='Sign'">
                <button type="button" class="btn btn-md btn-success">{{ Payments.Category }}</button>
            </div>
            <div class="col-sm-3 pt-3 text-center" *ngIf="Payments.Category=='Income'">
                <button type="button" class="btn btn-md btn-outline-success">{{ Payments.Category }}</button>
            </div>
            <div class="col-sm-3 pt-3 text-center" *ngIf="Payments.Category=='Outcome'">
                <button type="button" class="btn btn-md btn-outline-danger">Outcome</button>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 pt-2">
                <div class="nav navbar-nav">
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown">
                            </a>
                    </li>
                </div> 
            </div>
        </div>
</div>
</div>